// Colors

$black: #000;
$white: #fff;
$medium-dark-blue: #353548;
$light-blue: rgba($medium-dark-blue, 0.7);
$dark-blue: #242636;
$yellow: #FFC500;
$light-gray: #E1E9EF;
$secondary-light-gray: #F7F9FB;
$lighter-gray: #F9FAFB;

$primary-color: $yellow;

$base-font-sans-serif: 'open_sans', 'Helvetica Neue', 'Helvetica', sans-serif;

// Body
$base-text-color: $light-blue !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.65 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: normal;

$dark-text-color: $medium-dark-blue;

$base-min-width: 320px;

// Liks
$base-link-color: $primary-color;

// Buttons
$btn-color: $white !default;
$btn-background: $primary-color !default;
$btn-padding: 5px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $light-gray !default;
$form-element-focus-border-color: $light-gray !default;
$placeholder-color: $base-text-color !default;

// Headers
$h1-font-size: 20px !default;
$h2-font-size: 20px !default;
$h3-font-size: 19px !default;
$h4-font-size: 16px !default;
$h5-font-size: 13px !default;
$h6-font-size: 12px !default;

$headings-font-family: inherit !default;
$headings-color: $medium-dark-blue !default;

$animation-speed: 0.3s;

$overlay-bg: rgba(0,0,0,0.13);