@import 'variables.scss';


/*	   footer   	*/
#footer {
	padding: 30px 0 1px;
	width:100%;
	overflow: hidden;
	font-size: 14px;
	text-align: center;

	@media (min-width: 768px) {
		text-align: left;
		padding: 17px 0;
	}

	@media (min-width: 1024px) {
		padding: 25px 0 34px;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 12px;
	}

	.container {
		max-width: 1312px;
		@media (min-width: 768px) and (max-width: 1023px) {
			padding: 0 16px;
		}
	}

	.logo {
		font-size: 14px;

		@media (min-width: 768px) {
			font-size: 15px;
		}

		@media (min-width: 1024px) {
			font-size: 17px;
		}
	}

	.btn {
		width: auto;
	}

	.footer-nav + .btn {

		@media (min-width: 768px) {
			margin: 2px 0 0 7px;
		}

		@media (min-width: 1024px) {
			margin: 0 0 0 25px;
		}
	}
}

.footer-top {
	padding: 0 0 31px;
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 23px;
	}

	@media (min-width: 1024px) {
		padding: 0 0 21px;
	}
}

.footer-bottom {
	font-size: 12px;
	color: rgba($dark-text-color, 0.5);
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	span {
		display: block;
		padding: 0 0 21px;
		@media (min-width: 768px) {
			padding: 0;
		}
	}

	.author {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			margin: 0 0 0 12px;
		}
	}
}

.footer-nav {
	padding: 31px 0 9px;
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		padding: 0;
	}

	li {
		padding: 0 0 22px;
		@media (min-width: 768px) {
			padding: 0 15px;
		}

		@media (min-width: 1024px) {
			padding: 0 25px;
		}
	}

	a {
		color: $dark-text-color;
	}
}