@import 'variables.scss';

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: $line-height-base;
    font-family: $base-font-sans-serif;
    color: $base-text-color;
    background: $lighter-gray;
    border: 1px solid $form-element-border-color;
    outline: 0 none;
    padding: 6px 14px 5px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100% !important;
    max-width: 100% !important;
    font-size: 14px;
    line-height: $line-height-base;
    font-family: $base-font-sans-serif;
    color: $base-text-color;
    background: $lighter-gray;
    border: 1px solid $form-element-border-color;
    outline: 0 none;
    padding: 8px 14px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    min-height: 190px;

    @media (min-width: 768px) {
        min-height: 120px;
        padding: 7px 14px;
    }

    @media (min-width: 1024px) {
        min-height: 161px;
        padding: 7px 14px;
    }
}
/* placeholder input*/
input:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
input::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
input::-webkit-input-placeholder {color:$placeholder-color;}
/* input:focus placeholder */
input:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
input:focus::-webkit-input-placeholder {color:$placeholder-color;}
/* placeholder  textarea*/
textarea:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
textarea::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
textarea::-webkit-input-placeholder {
    color:$placeholder-color;
    font-size: 14px;
}
/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
textarea:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
    font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
    color:$placeholder-color;
    font-size: 14px;
}