@import 'variables.scss';


/*	   header   	*/
#header {
	width: 100%;
	padding: 14px 0;
	font-size: 14px;

	@media (min-width: 768px) {
		padding: 20px 0;
	}

	@media (min-width: 1024px) {
		padding: 30px 0;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1310px;

		@media (min-width: 768px) and (max-width: 1023px) {
			padding: 0 16px;
		}
	}

	.menu + .btn {
		@media (min-width: 1024px) {
			margin-left: 20px;
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	transition: opacity .1s ease-in-out;
	font-size: 16px;

	a {
		display: block;
	}

    img {

		@media (min-width: 1024px) {
			width: 143px;
			height: 38px;
		}
    }
    &:hover {opacity: 0.7;}
}

/*	   navigation   	*/
input[id="check-menu"] {display:none;}

@media (max-width: 767px) {
	input[id="check-menu"]:checked ~ {

		.menu-holder {right: 0;}

		.nav-overlay {
			opacity: 1;
			visibility: visible;
		}
	}
}

.nav-overlay {
	display: block;
	background: $overlay-bg;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.toogle-menu {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	padding: 4px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor:pointer;
	position: relative;

	@media (max-width: 767px) {
		display: flex;
	}
	
	> span {
		display: block;
		width: 100%;
		height: 2px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		margin: 1.5px 0;
		background: #2E283B;
	}
}
.close-btn {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 14px;
	cursor: pointer;

	&:before,
	&:after {
		content:'';
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 7px;
		transform: rotate(45deg);
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		background: #2E283B;
	}
	&:after {transform: rotate(-45deg);}

	@media (min-width: 768px) {
		display: none;
	}
}

.menu {
	color: $base-text-color;
	font-weight: 600;

	@media (min-width: 768px) {
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	
	> li {
		padding: 0 0 36px;

		&.active > a {
            color: $medium-dark-blue;
            cursor: default;

			&:before {
				@media (min-width: 768px) {
					transform: scale(1);
				}
			}
        }

		@media (min-width: 768px) {
			padding: 0 15px;
		}

		@media (min-width: 1024px) {
			padding: 0 25px;
		}

		> a {
			display: block;
            color: inherit;
			position: relative;
			z-index: 2;
			-webkit-transition: color $animation-speed ease-in-out;
			-moz-transition: color $animation-speed ease-in-out;
			transition: color $animation-speed ease-in-out;

			&:before {
				@media (min-width: 768px) {
					content: '';
					position: absolute;
					height: 3px;
					background: $medium-dark-blue;
					left: 0;
					right: 0;
					bottom: -15px;
					border-radius: 0 0 2em 2em;
					transform: scale(0);
					transition: transform $animation-speed;
				}

				@media (min-width: 1024px) {
					bottom: -17px;
				}
			}

			&:hover {
				color: $medium-dark-blue;

				&:before {
					@media (min-width: 768px) {
						transform: scale(1);
					}
				}
			}
		}
	}
}

#nav {
	@media (min-width: 768px) {
		flex: 1 0;
	}
}

.menu-holder {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 767px) {
		flex-flow: column nowrap;
		align-items: flex-start;
		width: 260px;
		overflow-y: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -260px;
		padding: 74px 25px 20px;
		z-index: 100;
		-webkit-transition: right $animation-speed ease-in-out;
		-moz-transition: right $animation-speed ease-in-out;
		transition: right $animation-speed ease-in-out;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: $white;
	}
}
/*	   end navigation   	*/