@import 'variables.scss';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	margin: 0;
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

/*	   general reset   	*/
* {
	scroll-behavior: auto;
}

html.hidden,
body.hidden {
	@media (max-width: 767px) {
		overflow: hidden;
	}
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

ul li,
ol li {
	vertical-align: top;
}

input, select, textarea {
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

figure {
	margin: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button, a {
	cursor: pointer;
}

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: 600;
	margin: 0 0 0.5em;
	color: $headings-color;
}

h1, .h1 {
	font-size: $h1-font-size;
	margin: 0 0 7px;
	@media (min-width: 1024px) {
		font-size: 28px;
		margin: 0 0 15px;
	}
}

h2, .h2 {
	font-size: $h2-font-size;
	margin: 0 0 8px;
	@media (min-width: 1024px) {
		font-size: 24px;
		margin: 0 0 5px;
	}
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 20px;

	@media (min-width: 768px) {
		margin: 0 0 17px;
	}

	@media (min-width: 1024px) {
		margin: 0 0 28px;
	}
}

a {
	color: $base-link-color;
	text-decoration: none;
	transition: color $animation-speed;

	&:hover,
	&:focus {
		color: $base-text-color;
	}
}

strong,
b {
	font-weight: 700;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.resize-active * {
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/*	   wrapper   	*/
#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		height: 634px;
		background-image: url('../images/img-bg.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 100%;

		@media (min-width: 768px) {
			height: 687px;
		}

		@media (min-width: 1024px) {
			height: 830px;
		}
	}
}

.container {
	max-width: 1272px;
	margin: 0 auto;
	padding: 0 16px;

	@media (min-width: 768px) and (max-width: 1023px) {
		padding: 0 80px;
	}
}

.centered {
	text-align: center;
}

.primary-color {
	color: $primary-color;
}

.dark-color{
	color: $dark-text-color;
}

/*	   main   	*/
#main {width:100%;}

.btn {
	display: inline-block;
	vertical-align: top;
	outline: none;
	border: none;
	text-decoration: none;
	min-width: 120px;
	text-align: center;
	padding: 10px 5px;
	border-radius: 4px;
	font-size: $font-size-base;
	font-weight: 600;
	background: $primary-color;
	color: $dark-blue;
	width: 100%;
	transition: background  $animation-speed;

	&:hover {
		background: lighten($primary-color, 17%);
	}
	
	&.dark-btn {
		background: $dark-blue;
		color: $white;

		&:hover {
			background: lighten($dark-blue, 17%);
		}
	}

	@media (min-width: 768px) {
		width: auto;
	}
}

.intro-block {
	padding: 19px 0 38px;

	@media (min-width: 768px) {
		padding: 39px 0 36px;
	}

	@media (min-width: 1024px) {
		padding: 45px 0 65px;
	}
}

.intro-img{
	max-width: 840px;
	overflow-x: auto;
	margin: -2px -21px 0;

	@media (min-width: 768px) {
		margin: 0 -22px;
		overflow: hidden;
	}

	@media (min-width: 1024px) {
		margin: -3px auto 0;
	}

	img {
		min-width: 622px;
		@media (min-width: 768px) {
			min-width: 0;
		}
	}
}

.caption {
	margin: 0 auto;
	max-width: 680px;
	@media (min-width: 768px) {
		text-align: center;
		padding-bottom: 7px;
	}

	@media (min-width: 1024px) {
		padding-bottom: 0;
	}
}

.two-column {
	padding: 0 0 70px;
	margin: 0 0 59px;
	display: flex;
	flex-flow: column-reverse nowrap;
	position: relative;

	@media (min-width: 768px) {
		padding: 0 0 74px;
	}

	@media (min-width: 1024px) {
		flex-flow: row nowrap;
		align-items: flex-start;
		margin: 0 -15px;
		padding: 12px 0 70px;
	}

	.col {
		&:first-child {
			margin: -31px 0 0;
			overflow-x: auto;
			overflow-y: hidden;

			@media (min-width: 768px) {
				overflow: hidden;
				margin: -31px -31px;
			}

			@media (min-width: 1024px) {
				margin: -30px -29px 0;
				width: 53.3%;
			}

			img {
				min-width: 661px;
				margin: 0 -248px -25px -31px;
				@media (min-width: 768px) {
					min-width: 0;
					margin: 0;
				}
			}
		}

		&:nth-child(2) {
			@media (min-width: 1024px) {
				flex: 1 0;
				padding-left: 24px;
			}
		}
		@media (min-width: 1024px) {
			padding: 0 15px;
		}
	}

	.btn {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		@media (min-width: 1024px) {
			position: static;
			transform: translateX(0);
		}
	}

	.features-list {
		@media (min-width: 768px) {
			margin: -4px 0 0;
		}

		@media (min-width: 1024px) {
			margin: 0 0 35px;
		}
	}
}

.features-list {
	line-height: 1.6;
	li {
		display: flex;
		align-items: flex-start;
		padding: 0 0 30px;

		@media (min-width: 768px) {
			padding: 0 0 32px;
		}
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;
		border-radius: 4px;
		background-color: $secondary-light-gray;
		margin: 0 17px 0 0;
		flex-shrink: 0;
		padding: 0 0 2px;

		@media (min-width: 768px) {
			margin: 0 20px 0 0;
		}
	}

	strong {
		font-weight: 600;
		display: block;
		padding: 0 0 5px;
		color: $dark-text-color;
	}
	p {
		margin: 0;
	}
}

.gray-bg-section {
	background: $secondary-light-gray;
	padding: 60px 16px;

	@media (min-width: 768px) {
		padding: 100px 16px;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		padding: 60px 80px;
	}

	h2, .h2 {
		margin: 0 0 3px;
	}

	p {
		margin: 0 0 17px;
		@media (min-width: 768px) {
			margin: 0 0 22px;
		}

		@media (min-width: 1024px) {
			margin: 0 0 18px;
		}
	}
}

.form-frame {
	background: $white;
	box-shadow: 0 0 30px 0 #F8F8F8;
	border-radius: 4px;
	overflow: hidden;
	max-width: 1082px;
	margin: 0 auto;

	@media (min-width: 1024px) {
		display: flex;
	}

	.col {
		&:first-child {
			padding: 30px;
			@media (min-width: 768px) {
				padding: 40px;
			}

			@media (min-width: 1024px) {
				padding: 100px;
				flex: 1 0;
			}
		}

		&:nth-child(2) {
			width: 45%;
			max-width: 481px;
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url("../images/img-keep-touch.png");

			@media (max-width: 1023px) {
				display: none;
			}
		}
	}

	h2, .h2 {
		@media (min-width: 768px) {
			font-size: 20px;
			margin: 0 0 9px;
		}
		@media (min-width: 1024px) {
			margin: 0 0 7px;
		}
	}
}

form {
	.label {
		display: block;
		font-size: 12px;
		padding: 0 0 5px;
	}
}

.form-row {
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		margin: 0 -10px 21px;
	}

	@media (min-width: 1024px) {
		margin: 0 -10px 19px;
	}

	.form-col {
		padding: 0 0 19px;

		&:only-child {
			@media (min-width: 768px) {
				width: 100%;
			}
		}

		@media (min-width: 768px) {
			width: 50%;
			padding: 0 10px;
		}
	}
}

.form-btn-row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.btn {
		width: auto;
		@media (min-width: 1024px) {
			min-width: 107px;
		}
	}
}

.social-networks {
	display: flex;
	align-items: center;
	margin: 0 -3px;

	li {
		padding: 0 3px;
	}

	a {
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}
	}
}