@font-face{font-family:'open_sans';src:url("../fonts/open-sans-webfont.woff2") format("woff2"),url("../fonts/open-sans-webfont.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'open_sans';src:url("../fonts/open-sans-semibold-webfont.woff2") format("woff2"),url("../fonts/open-sans-semibold-webfont.woff") format("woff");font-weight:600;font-style:normal}@font-face{font-family:'open_sans';src:url("../fonts/open-sans-bold-webfont.woff2") format("woff2"),url("../fonts/open-sans-bold-webfont.woff") format("woff");font-weight:700;font-style:normal}

/*# sourceMappingURL=../maps/fonts.css.map */
