extends layouts/base

block title
    - var currentPage = "menu_home"
    title ICG BULLION

block main
    main#main
        .container
            .intro-block
                .caption
                    h1 Trading Bullion Has Never Been Easier!
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    button.btn.dark-btn(type="button") Try Now
                .intro-img
                    img(src="images/img1.png" alt="intro image")
            .caption
                h2 Features
                p.dark-color A rock-solid bullion trading platform with industry-leading features to match!
            .two-column
                .col
                    img(src="images/img2.png" alt="image")
                .col
                    ul.features-list
                        li
                            .icon
                                img(src="images/ic-login.svg" alt="intro image" width="24" height="23")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                        li
                            .icon
                                img(src="images/ic-graph.svg" alt="intro image" width="24" height="24")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                        li
                            .icon
                                img(src="images/ic-pie-chart.svg" alt="intro image" width="24" height="24")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                    button.btn.dark-btn(type="button") Try Now

        .gray-bg-section
            .form-frame
                .col
                    h2 Keep In Touch
                    p Shoot us a line if you have any questions or would like to chat!
                    form(action="#")
                        .form-row
                            .form-col
                                label.label First Name
                                input(type="text" placeholder="Your first name")
                            .form-col
                                label.label Last Name
                                input(type="text" placeholder="Your last name")
                        .form-row
                            .form-col
                                label.label Email Address
                                input(type="email" placeholder="Your email address")
                        .form-row
                            .form-col
                                label.label Message
                                textarea(placeholder="Your message")
                        .form-btn-row
                            button.btn(type="submit") Send
                            ul.social-networks
                                li
                                    a(href="" + static_link)
                                        img(src="images/twitter.svg" alt="icon" width="18" height="15")
                                li
                                    a(href="" + static_link)
                                        img(src="images/facebook.svg" alt="icon" width="18" height="18")
                .col