footer#footer
    .container
        .footer-top
            .logo
                a(href="" + PrimaryNavItems.menu_home.url)
                    img(src="images/ic-logo.svg" alt="icg bullion" width="120" height="32")
            ul.footer-nav
                li
                    a(href="" + static_link) Home
                li
                    a(href="" + static_link) Features
                li
                    a(href="" + static_link) Product Quotes
                li
                    a(href="" + static_link) Keep In Touch
            button.btn.dark-btn(type="button") Login
        .footer-bottom
            span.copyright &#169; Copyright 2013 ICG Bullion Inc. All rights reserved.
            span.author Design & Development  —
                img(src="images/itmint.svg" alt="itmint" width="68" height="12")