header#header
    .container
        .logo
            a(href="" + PrimaryNavItems.menu_home.url)
                img(src="images/ic-logo.svg" alt="icg bullion" width="120" height="32")
        nav#nav
            input#check-menu(type="checkbox")
            .menu-holder
                label.close-btn(for="check-menu")
                ul.menu
                    each page, key in PrimaryNavItems
                        if currentPage === key
                            li(class="active")
                                a(href= page.url)= page.label
                        else
                            li
                                a(href= page.url)= page.label
                button.btn(type="button") Sign In

            label.toogle-menu(for="check-menu")
                span.t
                span.c
                span.b
            label.nav-overlay(for="check-menu")